/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root{
  --ion-color-primary: #2c7be5;
  --ion-color-secondary: #10dc60;
  --ion-color-tertiary: #ffb400;
}
